.mainPage {
    border: 6px solid var(--typed);
    padding: 8px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drawBox {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--typed);
}