@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
    --vhs-blue: rgb(34, 13, 142);
    --vhs-gray: rgb(170, 170, 170);
    --typed: rgba(10,10,7, 0.98);
    --font-typed: 'Roboto', sans-serif;
}
  
  